/* ! [ tailwind ] */
.input {
	@apply text-base text-gray-600 placeholder-gray-400 placeholder:text-sm  shadow-md;

	/* focus */
	@apply focus:shadow-none transition duration-300 focus:outline-none;
}

.filter-btn {
	@apply px-4 py-2 rounded-md border border-gray-400 text-center bg-neutral-200 w-1/2 flex justify-center items-center;
}

.comment-box {
	@apply py-8 px-4 border-y-2 border-dashed;
}
.comment-box__heading {
	@apply text-center leading-loose text-sm;
}

.before::before {
	content: "";
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	margin-left: 0.7rem;
	background-color: #4ae3db;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* ! [ Slides ] */
.indicators {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.indicator {
	cursor: pointer;
	padding: 0.3rem;
	margin: 0 0.3rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.indicator.active {
	background-color: #777;
}

/* ! [ Books PAGE ] */
.text-box {
	position: relative;
	overflow: hidden;
}
.text-box .read-more.active {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 50px 0 10px;

	/* background-image: linear-gradient(to bottom, transparent, black); */
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.1, rgba(255, 0, 0, 0)),
		color-stop(0.8, rgba(244, 244, 244, 1))
	);
}
.text-box .read-more.deactive {
	text-align: center;
	margin-top: 0.5rem;
}
